<html>
<head>
<title>Vi du AJAX trong AngularJS</title>
<style>
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f2f2f2;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
</head>
<body>
<h2>Ung dung AngularJS</h2>
<div ng-app="ungdungAngularjs" ng-controller="sinhvienController">
<table>
   <tr>
      <th>Ho va Ten</th>
      <th>MSSV</th>
	  <th>Diem thi</th>
   </tr>
   <tr ng-repeat="sinhvien in sinhviens">
      <td>{{sinhvien.HovaTen}}</td>
      <td>{{sinhvien.MSSV}}</td>
	  <td>{{sinhvien.Diemthi}}</td>
   </tr>
</table>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script>
var ungdungAngularjs = angular.module("ungdungAngularjs", []);
ungdungAngularjs.controller("sinhvienController", function($scope,$http) {

	$scope.sinhvienss = [
         {HovaTen:'aaaaaaaaa',MSSV: 'fsdf',Diemthi:4.3 },
        {HovaTen:'bbbbbbbbbb',MSSV: 'fsdf',Diemthi:4.3 },
		{HovaTen:'vvvvvv',MSSV: 'fsdf',Diemthi:4.3 }
      ];
 
	var url="data.txt";
	$http.get(url).success( function(response) {
                           $scope.sinhviens = response;
                        });
});
</script>
</body>
</html>