<html>
<head>
   <title>Vi du Service trong AngularJS</title>
   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body>
   <h2>Ung dung AngularJS</h2>
   <div ng-app="ungdungAngularJS" ng-controller="tinhBPController">
      <p>Nhap mot so: <input type="number" ng-model="number" />
      <button ng-click="binhphuong()">X<sup>2</sup></button>
	  <button ng-click="cong()">+</button>
      <p>Ket qua: {{ketqua}}</p>
	  <p>Ket qua cong: {{kq}}</p>
   </div>
   <script>
      var ungdungAngularJS = angular.module("ungdungAngularJS", []);
      ungdungAngularJS.factory('toanhocService', function() {     
         var factory = {};  
         factory.phepnhan = function(a, b) {
            return a * b 
         }
		 factory.phepcong= function(a,b){
			return a + b;
		 }
         return factory;
      }); 
	  

      ungdungAngularJS.service('tinhBPService', function(toanhocService){
            this.binhphuong = function(a) { 
            return toanhocService.phepnhan(a,a); 
         }
      });
	  
	  ungdungAngularJS.service('congService', function(toanhocService){
            this.cong = function(a,b) { 
            return toanhocService.phepcong(a,b); 
         }
      });

      ungdungAngularJS.controller('tinhBPController', function($scope, tinhBPService, congService) {
            $scope.binhphuong = function() {
            $scope.ketqua = tinhBPService.binhphuong($scope.number);
			}
			$scope.cong = function() {
            $scope.kq = congService.cong($scope.number,$scope.number);
			}
			
      });
   </script>
</body>
</html>